#Tạo file env.development và env.production với nội dung tương tự, thay đổi các biến môi trường phù hợp cho từng môi trường
#Copy file này thành .env.development và điền thông tin thực cho môi trường phát triển
# API Configuration
VITE_API_URL=
VITE_API_TIMEOUT=10000
#Copy file này thành .env.production và điền thông tin thực cho môi trường sản xuất
# API Configuration
VITE_API_URL=
VITE_API_TIMEOUT=10000